.sec-product {
  .c-card {
    img {
      transition: transform .3s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.05)
      }
    }
  }
}
@media (min-width: 992px) {
  .content {
    .hero-banner{
      min-height: 660px;
    }
  }
}