*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: inherit;
    line-height: inherit;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}
img, video {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}
button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
button, [role="button"] {
    cursor: pointer;
}
button {
    background-color: transparent;
    background-image: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.container-custom {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.google-speed{
    display: none;
}
@media (min-width: 640px) {
    .container-custom {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
.section-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.font-sans {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.sec-blog-header{
    position: relative;
}
.separetor .border-divider{
    position: absolute;
    left: 0;
    top: 2px;
    background: linear-gradient(90deg, #F62002 0%, #F62002 100%);
    width: 16px;
    height: 80%;
    border-radius: 0px 100px 0px 100px;
    z-index: 2;
}
.section-title{
    margin: 0px 0px 40px 0px;
    position: relative;
    padding: 0;
    z-index: 2;
    padding-bottom: 5px;
    border-bottom: solid 3px #7070703B;
}
.section-title-main{
    font-size: 38px;
    font-weight: 700;
    line-height: 37px;
}
.section-title-sub{
    font-size: 33px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.2px;
}

.thumb-bg .post-thumbnail a:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    background-color: transparent;
    background-image: linear-gradient(0deg , #000000c9 30%, #00000000 60%);
    border-radius: 6px;
}

.ts-main-nav > .nav-item:nth-child(1) {
    background: #6600F2;
}

.ts-main-nav > .nav-item:nth-child(1):hover, .ts-main-nav > .nav-item:nth-child(1).active {
    /* background-color: #6600F2 !important; */
}

.ts-main-nav > .nav-item:nth-child(1):hover:before, .ts-main-nav > .nav-item:nth-child(1).active:before {
    background: #6600F2;
}

.ts-main-nav > .nav-item:nth-child(2) {
    background: #8600C3;
}

.ts-main-nav > .nav-item:nth-child(2):hover, .ts-main-nav > .nav-item:nth-child(2).active {
    background-color: #8600C3 !important;
}

.ts-main-nav > .nav-item:nth-child(2):hover:before, .ts-main-nav > .nav-item:nth-child(2).active:before {
    background: #8600C3;
}

.ts-main-nav > .nav-item:nth-child(3) {
    background: #AB188F;
}

.ts-main-nav > .nav-item:nth-child(3):hover, .ts-main-nav > .nav-item:nth-child(3).active {
    background-color: #AB188F !important;
}

.ts-main-nav > .nav-item:nth-child(3):hover:before, .ts-main-nav > .nav-item:nth-child(3).active:before {
    background: #AB188F;
}

.ts-main-nav > .nav-item:nth-child(4) {
    background: #C3266D;
}

.ts-main-nav > .nav-item:nth-child(4):hover, .ts-main-nav > .nav-item:nth-child(4).active {
    background-color: #C3266D !important;
}

.ts-main-nav > .nav-item:nth-child(4):hover:before, .ts-main-nav > .nav-item:nth-child(4).active:before {
    background: #C3266D;
}

.ts-main-nav > .nav-item:nth-child(5) {
    background: #E84C33;
}

.ts-main-nav > .nav-item:nth-child(5):hover, .ts-main-nav > .nav-item:nth-child(5).active {
    background-color: #E84C33 !important;
}

.ts-main-nav > .nav-item:nth-child(5):hover:before, .ts-main-nav > .nav-item:nth-child(5).active:before {
    background: #E84C33;
}

.ts-main-nav > .nav-item:nth-child(6) {
    background: #F57607;
}

.ts-main-nav > .nav-item:nth-child(6):hover, .ts-main-nav > .nav-item:nth-child(6).active {
    background-color: #F57607 !important;
}

.ts-main-nav > .nav-item:nth-child(6):hover:before, .ts-main-nav > .nav-item:nth-child(6).active:before {
    background: #F57607;
}

.ts-main-nav > .nav-item:nth-child(7) {
    background: #FC980F;
}

.ts-main-nav > .nav-item:nth-child(7):hover, .ts-main-nav > .nav-item:nth-child(7).active {
    background-color: #FC980F !important;
}

.ts-main-nav > .nav-item:nth-child(7):hover:before, .ts-main-nav > .nav-item:nth-child(7).active:before {
    background: #FC980F;
}

.ts-main-nav > .nav-item:nth-child(8) {
    background: #FEB430;
}

.ts-main-nav > .nav-item:nth-child(8):hover, .ts-main-nav > .nav-item:nth-child(8).active {
    background-color: #FEB430 !important;
}

.ts-main-nav > .nav-item:nth-child(8):hover:before, .ts-main-nav > .nav-item:nth-child(8).active:before {
    background: #FEB430;
}

.ts-main-nav > .nav-item:nth-child(9) {
    background: #ffbf4e;
}

.ts-main-nav > .nav-item:nth-child(9):hover, .ts-main-nav > .nav-item:nth-child(8).active {
    background-color: #ffbf4e !important;
}

.ts-main-nav > .nav-item:nth-child(9):hover:before, .ts-main-nav > .nav-item:nth-child(8).active:before {
    background: #ffbf4e;
}

.ts-main-nav > .nav-item:nth-child(10) {
    background: #ffd282;
}

.ts-main-nav > .nav-item:nth-child(10):hover, .ts-main-nav > .nav-item:nth-child(8).active {
    background-color: #ffd282 !important;
}

.ts-main-nav > .nav-item:nth-child(10):hover:before, .ts-main-nav > .nav-item:nth-child(8).active:before {
    background: #ffd282;
}
/*.nav-item{*/
/*    position: relative;*/
/*}*/
/*.nav-item:before{*/
/*    position: absolute;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 10px;*/
/*    left: 0;*/
/*    top: 100%;*/
/*    -webkit-transition: all 0.1s ease;*/
/*    transition: all 0.1s ease;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*}*/
/*.nav-item:after{*/
/*    position: absolute;*/
/*    content: "";*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-top: 11px solid #3F058E;*/
/*    border-right: 10px solid transparent;*/
/*    bottom: -11px;*/
/*    left: 100%;*/
/*    -webkit-transition: all 0.1s ease;*/
/*    transition: all 0.1s ease;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*}*/
/*.nav-item.active:before, .nav-item.active:after, .nav-item:hover:before, .nav-item:hover:after{*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*}*/

.card-post .post-video-icon{
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}
.card-post .format-icons{
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    right: 15px;
    top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.card-post .post-video-icon .xts-play_icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
}
.effect {
    display: block;
    overflow: hidden;
    position: relative;
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity));
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.top-0 {
    top: 0px;
}
.sticky {
    position: sticky;
}
.relative {
    position: relative;
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.border-b {
    border-bottom-width: 1px;
}
.h-10 {
    height: 2.5rem;
}
.hidden {
    display: none;
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.font-bold {
    font-weight: 700;
}
.font-medium {
    font-weight: 500;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.w-5 {
    width: 1.25rem;
}
.h-5 {
    height: 1.25rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.inline-flex {
    display: inline-flex;
}
.-mr-2 {
    margin-right: -0.5rem;
}
.-my-2 {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}
.pb-1 {
    padding-bottom: 0.25rem;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}
.py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}
.overflow-hidden {
    overflow: hidden;
}
.grid {
    display: grid;
}
.pr-2\.5 {
    padding-right: 0.625rem;
}
.mr-1 {
    margin-right: 0.25rem;
}
.mr-3 {
    margin-right: 0.75rem;
}
.border-r {
    border-right-width: 1px;
}
.text-red-600 {
    --tw-text-opacity: 1;
    color: rgba(220, 38, 38, var(--tw-text-opacity));
}
.w-4 {
    width: 1rem;
}
.h-4 {
    height: 1rem;
}
.w-6 {
    width: 1.5rem;
}
.h-6 {
    height: 1.5rem;
}
.inline-block {
    display: inline-block;
}
.uppercase {
    text-transform: uppercase;
}
.ml-1 {
    margin-left: 0.25rem;
}
.font-semibold {
    font-weight: 600;
}
.z-0 {
    z-index: 0;
}
.z-10 {
    z-index: 10;
}
.z-40 {
    z-index: 40;
}
.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.ml-4 {
    margin-left: 1rem;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.order-last {
    order: 9999;
}
.rounded-md {
    border-radius: 0.375rem;
}
.w-12 {
    width: 3rem;
}
.h-12 {
    height: 3rem;
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}
.text-blue-700 {
    --tw-text-opacity: 1;
    color: rgba(29, 78, 216, var(--tw-text-opacity));
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.flex-shrink {
    flex-shrink: 1;
}
.flex-1 {
    flex: 1 1 0%;
}
.justify-center {
    justify-content: center;
}
.flex-grow {
    flex-grow: 1;
}
.cursor-pointer {
    cursor: pointer;
}
.text-right{
    text-align: right;
}
.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pt-0 {
    padding-top: 0px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.h-40 {
    height: 10rem;
}
.text-center {
    text-align: center;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.w-8\/12 {
    width: 66.666667%;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
.absolute {
    position: absolute;
}
.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.left-8 {
    left: 2rem;
}
.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.rounded-b-md {
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}
.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(239, 68, 68, var(--tw-bg-opacity));
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
}
.pb-6 {
    padding-bottom: 1.5rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.border-dotted {
    border-style: dotted;
}
.order-2 {
    order: 2;
}
.mr-2 {
    margin-right: 0.5rem;
}
.h-2\.5 {
    height: 0.625rem;
}
.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}
.w-3 {
    width: 0.75rem;
}
.h-3 {
    height: 0.75rem;
}
.order-1 {
    order: 1;
}
.pr-4 {
    padding-right: 1rem;
}
@media (min-width: 640px){
    .sm\:h-16 {
        height: 4rem;
    }
    .sm\:h-56 {
        height: 14rem;
    }
}
@media (min-width: 768px) {
    .logo-header{
        max-width: 150px;
    }
    .md\:w-14 {
        width: 3.5rem;
    }
    .md\:h-72 {
        height: 18rem;
    }
    .md\:grid-cols-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .md\:gap-8 {
        gap: 2rem;
    }
    .md\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .md\:mb-2 {
        margin-bottom: 0.5rem;
    }
    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
@media (min-width: 1024px){
    .lg\:py-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .lg\:flex {
        display: flex;
    }
    .lg\:hidden {
        display: none;
    }
    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .lg\:gap-4 {
        gap: 1rem;
    }
    .lg\:pt-2\.5 {
        padding-top: 0.625rem;
    }
    .lg\:grid {
        display: grid;
    }
    .lg\:inline-block {
        display: inline-block;
    }
    .lg\:block {
        display: block;
    }
    .lg\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .lg\:h-14 {
        height: 3.5rem;
    }
    .lg\:h-96 {
        height: 24rem;
    }
    .lg\:h-36 {
        height: 9rem;
    }
    .lg\:uppercase {
        text-transform: uppercase;
    }
    .lg\:px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .lg\:py-1 {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

}
@media (max-width: 768px) {
    .section-title-main, .section-title-sub{
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: normal;
    }
    .card-post .post-video-icon .xts-play_icon{
        width: 40px;
        height: 40px;
    }
}
