.main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
}
.gallery-image-item-handler .list-photo-hover-overlay {
    display: none;
}

.gallery-image-item-handler:hover .list-photo-hover-overlay {
    display: block;
}
