.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-button-next {
    background-image: url('../img/next.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-prev {
    background-image: url('../img/prev.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

.swiper-button-next, .swiper-button-prev {
    width: 44px !important;
}
@media (max-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
        width: 30px !important;
    }
}
