@layer base{
    .container-custom {
        @apply max-w-7xl mx-auto px-4 sm:px-6;
    }
    .toast{
        @apply p-8;
    }
    .toast-message {
        @apply text-xl;
    }
    .toast-top-right {
        @apply fixed top-4 right-4 z-50;
    }
    .toast-success {
        @apply bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4;
    }
    .toast-error {
        @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4;
    }
}
@layer components{
    .btn-indigo {
        @apply py-2 px-4 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75;
    }
}