.icon-features-wrap:before{
    content: url(../img/arrow.png);
    position: absolute;
    width: auto;
    height: auto;
    background: 0 0;
    left: 100%;
    top: 40px;
}
.icon-features-wrap.remove:before{
    display: none;
}
.icon-features-wrap .middle-icon-large-features-box{
    background: #fff;
    width: 85px;
    height: 85px;
    line-height: 90px;
    text-align: center;
    transition: .25s ease-in-out;
    font-size: 30px;
    border-radius: 20px;
    margin: 15px auto;
    position: relative;
    border: 1px solid transparent;
}
.icon-features-wrap .middle-icon-large-features-box:before{
    content: "";
    position: absolute;
    border-radius: 20px;
    width: 85px;
    height: 85px;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    background: 0 0;
    border: 1px solid transparent;
}
.icon-features-wrap .f-light-success:before{
    background: rgba(15,202,152,.1);
    border-color: rgba(15,202,152,.3);
    color: #29cf8d!important;
}
.icon-features-wrap .f-light-warning:before{
    background: rgba(255,143,0,.1);
    border-color: rgba(255,143,0,.3);
    color: #ff8f00!important;
}
.icon-features-wrap .f-light-blue:before{
    color: #1d96ff!important;
    background: rgba(29,150,255,.1);
    border-color: rgba(29,150,255,.3);
}
.sec-product .c-card img {
    transition: transform .3s ease-in-out;
}
.sec-product .c-card:hover img {
    transform: scale(1.05)
}
@media (min-width: 992px) {
    .content .hero-banner {
        min-height: 660px;
    }
}
@media (max-width: 1290px) {
    .icon-features-wrap:before{
        display: none;
    }
}
.vietnam-map path{
    fill: #e6e6e6;
    stroke: #fff;
}
.vietnam-map path.active, .vietnam-map path:hover {
    fill: #2563EB;
    cursor: pointer;
}
.banner-height{
    height: 750px;
}
@media (max-width: 1023px){
    .banner-height{
        height: 550px;
    }
}

.box-shadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
